.contain_r .contain_r_t{
    background: white;
    height: 80px;
    padding-left:30px;

}
.contain_r_t p{
    color: black;
    font-weight: bold;
    display: inline-block;


}
.contain_r_order{
    height: 400px;
    background-color: white;
    margin-top: 20px;
}